<section class="background" style="overflow: hidden;">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-md-12">
            <div class="wrapper px-md-4">
               <div class="row mb-5 contactanim">
                  <div class="col-md-3">
                     <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                           <img src="assets/clock.png" width="30px" alt="">
                        </div>
                        <div class="text">
                           <p><span><b>Radno vreme</b> <br></span><i>RadnoVreme</i></p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                           <img src="assets/call.png" width="25px" alt="">
                        </div>
                        <div class="text">
                           <p><span><b>Telefon 1</b> <br></span><i>12345</i></p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                           <img src="assets/call.png" width="25px" alt="">
                        </div>
                        <div class="text">
                           <p><span><b>Telefon 2</b> <br></span><i>12345</i></p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                           <img src="assets/mail.png" width="30px" alt="">
                        </div>
                        <div class="text">
                           <p><span><b>Email</b> <br></span><i>example@email.com</i></p>
                        </div>
                     </div>
                  </div>
               </div>
               <app-contact-form></app-contact-form>
            </div>
         </div>
      </div>
   </div>
</section>