.background {
    padding: 6em 0;
    position: relative;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(219, 219, 219);
    background-color: #f8f9fa!important;
}

section {
    display: block;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

@media (min-width: 768px) {
    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.col-md-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.wrapper {
    width: 100%;
}

@media (min-width: 768px) {
    .px-md-4 {
        padding-left: 1.5rem !important;
    }
}

@media (min-width: 768px) {
    .px-md-4 {
        padding-right: 1.5rem !important;
    }
}

.mb-5 {
    margin-bottom: 3rem !important;
}

@media (min-width: 768px){
    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.col-md-3 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.dbox {
    width: 100%;
    margin-bottom: 25px;
}

.text-center {
    text-align: center !important;
}

.w-100 {
    width: 100% !important;
}

.dbox .icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #cbb88c;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -25px;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.dbox .icon span {
    font-size: 30px;
    color: #fff;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dbox .text {
    width: 100%;
}

.dbox p {
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}


@media (min-width: 768px){
    .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
}

.col-md-7 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.contact-wrap {
    background: #fff;
}

@media (min-width: 768px) {
    .p-md-5 {
        padding: 3rem !important;
    }
}

.p-4 {
    padding: 1.5rem !important;
}

.w-100 {
    width: 100% !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

h3 {
    margin-top: 0;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
}

h3, .h3 {
    font-size: 1.75rem;
}

@media (min-width: 768px) {
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.col-md-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.form-group {
    margin-bottom: 1rem;
}

.contactForm .label {
    color: #cbb88c !important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.contactForm .form-control {
    height: 36px;
    background: #fff;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.contactForm .form-control {
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.form-control {
    height: 52px !important;
    background: #fff !important;
    color: #000000 !important;
    font-size: 18px;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

button, input {
    overflow: visible;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

@media (min-width: 768px){
    .col-md-12 {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

.col-md-12 {
    position: relative !important;
    width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

@media (min-width: 768px) {
    .order-md-first {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
}

@media (min-width: 768px) {
    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
}

.col-md-5 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

#map {
    width: 100%;
}

.gm-err-container {
    height: 100%;
    width: 100%;
    display: table;
    background-color: #e8eaed;
    position: relative;
    left: 0;
    top: 0;
}

.dbox p a {
    color: #cbb88c;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #cbb88c;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.btn.btn-primary {
    background: #cbb88c !important;
    border: 1px solid #cbb88c !important;
    color: #fff !important;
}

.gm-err-content {
    border-radius: 1px;
    padding-top: 0;
    padding-left: 10%;
    padding-right: 10%;
    position: static;
    vertical-align: middle;
    display: table-cell;
}

@keyframes anim1 {
    from {
      opacity: 1;
      transform: translateX(-5000px);
    }
  }
  
  .contactanim {
    animation-name: anim1;
    animation-duration: 1s; /* Ukupno trajanje animacije */
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }