<div class="background-image about">
    <h1>O nama</h1>
</div>

<div class="bg-light py-5 bgd" style="overflow: hidden;" >
  <section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6">
          <div class="image aboutanim1">
            <img class="img-fluid rounded phone-size logo-p" loading="eager" src="./assets/news.png" alt="">
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-10 aboutanim2">
              <div class="whyas">
                <h2 class="h1 mb-3">Zašto izabrati nas?</h2>
              </div>
              <div class="mission">
                <div class="parag">
                  <p class="lead mb-3 mb-xl-5">Naša misija je da budemo Vaša podrška na putu do poslovnog uspeha. To ćemo ostvariti stručnim savetima, konsultacijama i zanimljivim edukacijama koje ćemo Vam pružiti.</p>
                </div>
              </div> 
              <div class="line">
                <div class="d-flex align-items-center mb-3 wdt">
                  <div class="me-3 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="check" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                  </div>
                  <div>
                    <p class="fs-5 m-0">Isporučujemo usluge koje prevazilaze očekivanja.</p>
                  </div>
                </div>
              </div>
              <div class="line">
                <div class="d-flex align-items-center mb-3 wdt">
                  <div class="me-3 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="check" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                  </div>
                  <div>
                    <p class="fs-5 m-0">Imamo rešenja prilagođena Vašem obimu poslovanja.</p>
                  </div>
                </div>
              </div>
              <div class="line">
                <div class="d-flex align-items-center mb-4 mb-xl-5 wdt">
                  <div class="me-3 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="check" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                  </div>
                  <div>
                    <p class="fs-5 m-0">Kroz inovativna rešenja nudimo obuku za Vaše zaposlene.</p>
                  </div>
                </div>
              </div>
              <div class="button-center">
                <button type="button" class="btn btn-outline-secondary" routerLink="/contact" routerLinkActive="router-link-active" >Započnimo odmah</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="py-md-5 py-xl-8 aboutanim3">
  <div class="container bortop">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 py-5 naslov">
        <p class="sbhead">članovi</p>
        <h2 class="head pb-2">Naš tim</h2>
      </div>
    </div>
  </div>
  <div class="container overflow-hidden" style="max-width: 80% !important;">
    <div class="row gy-4 gy-lg-0 justify-content-center">
      <div class="col-12 col-lg-4">
        <ng-container >
            <article>
                <div class="card border-0 bg-transparent ai-center">
                  <figure class="card-img-top mb-3 overflow-hidden bsb-overlay-hover brd">
                    <a [href]="'/blog/' + 'naziv'">
                        <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="eager" src="./assets/news.png" alt="a">
                    </a>
                    <figcaption>
                      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye text-white bsb-hover-fadeInLeft" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                      </svg>
                      <h4 class="h6 text-white bsb-hover-fadeInRight mt-2">Pročitaj više</h4>
                    </figcaption>
                  </figure>
                  <div class="mb-1">
                    <p class="sbhead-at">Biografija</p>
                  </div>
                  <div class="card-body m-0 p-0 text-center">
                    <div class="entry-header mb-3">
                      <h2 class="card-title entry-title h4 m-0">
                        <a class="link-dark text-decoration-none" [href]="'/blog/' + 'naziv'">Zaposleni_1</a>
                      </h2>
                    </div>
                  </div>
                </div>
              </article>
        </ng-container>
    </div>
    <div class="col-12 col-lg-4">
      <ng-container>
          <article>
              <div class="card border-0 bg-transparent ai-center">
                <figure class="card-img-top mb-3 overflow-hidden bsb-overlay-hover brd">
                  <a [href]="'/blog/' + 'naziv'">
                      <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="eager" src="./assets/news.png" alt="Tatjana Vit">
                  </a>
                  <figcaption>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye text-white bsb-hover-fadeInLeft" viewBox="0 0 16 16">
                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                    </svg>
                    <h4 class="h6 text-white bsb-hover-fadeInRight mt-2">Pročitaj više</h4>
                  </figcaption>
                </figure>
                <div class="mb-1">
                  <p class="sbhead-at">Biografija</p>
                </div>
                <div class="card-body m-0 p-0 text-center">
                  <div class="entry-header mb-3">
                    <h2 class="card-title entry-title h4 m-0">
                      <a class="link-dark text-decoration-none" [href]="'/blog/' + 'naziv'">Zaposleni_2</a>
                    </h2>
                  </div>
                </div>
              </div>
            </article>
      </ng-container>
  </div>
<!--       <div class="col-12 col-lg-4 cards">
        <div class="card border-0 only-one">
          <figure class="card-img-top m-0 overflow-hidden bsb-overlay-hover">
            <a [href]="'/blog/' + 'ivana sredojevic'">
              <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="./assets/about/slika2.png" alt="">
            </a>
            <figcaption>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye text-white bsb-hover-fadeInLeft" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
              </svg>
              <h4 class="h6 text-white bsb-hover-fadeInRight mt-2">Biografija</h4>
            </figcaption>
          </figure>
          <div class="card-body border bg-white p-4">
            <h2 class="card-title h4 fw-bold mb-3">Ivana Sredojević</h2>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 cards">
        <div class="card border-0 only-one">
          <figure class="card-img-top m-0 overflow-hidden bsb-overlay-hover">
            <a [href]="'/blog/' + 'tatjana vit'">
              <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="./assets/about/slika1.png" alt="">
            </a>
            <figcaption>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye text-white bsb-hover-fadeInLeft" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
              </svg>
              <h4 class="h6 text-white bsb-hover-fadeInRight mt-2">Biografija</h4>
            </figcaption>
          </figure>
          <div class="card-body border bg-white p-4">
            <h2 class="card-title h4 fw-bold mb-3">Tatjana Vit</h2>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>