<div class="container">
  <h3 mat-dialog-title>Promena lozinke</h3>

  <form class="mat-dialog-content" #formControl="ngForm" (ngSubmit)="changePassword()">
    <mat-form-field>
      <input matInput type="password" placeholder="Stara lozinka" name="staraLozinka" [(ngModel)]="oldPassword" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Nova lozinka" name="novaLozinka" [(ngModel)]="newPassword" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Potvrda nove lozinke" name="potvrdaLozinke" [(ngModel)]="confirmPassword" required>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button type="submit" [disabled]="!formControl.valid">Potvrdi</button>
      <button mat-button type="button" (click)="cancel()">Poništi</button>
    </div>
  </form>
</div>
