<div class="banner background-image">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
      </div>
      <div class="col-lg-6 slideanim">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Posluj pametno, potraži savet!</h1>
        <p class="lead">Naša stručnost u oblasti ekonomije i finansija pomaže Vam pri donošenju pametnih odluka.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-outline-secondary btn-lg btn-kon px-4" routerLink="/contact">Kontakt</button>
        </div>
      </div>
    </div>
  </div>
</div>
