.background {
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.underspace {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

.container {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  font-size: 14px;
  flex-grow:  1;
  margin-top: 8px;
}